/* место для вашего кода */

.header {
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    padding: 92px 108px 91px 50px;
}

.header__menu {
    display: grid;
    align-items: center;
}

.header__links_list {  
    display: flex; 
    font-size: 18px;
    gap: 32px;
    white-space: nowrap;
}

.header__link {
    display: inline-block;
    border-bottom: 1px solid black;
}

.header__link_list_item_no-bullet {
    list-style: none;
}

.header__links_list_item {
    list-style: circle;
}

.header__logo {
    max-width: 135px;
    max-height: 107px;
    justify-self: center;
}

.header__logo_image {
    width: 100%;
    height: auto;
}

.header__adress {  
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column;
    justify-content: center;
}

.header__adress a, 
.header__adress span {  
    text-decoration: none;
}

/* Cover */
.cover {
    position: relative;
    padding: 55px 50px 50px 50px;
    background-image: url(./../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overley {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover__title {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    gap: 20px;
    color: white;
    line-height: 115px;
    letter-spacing: 20px;
    margin: 115px 0;
}

.aligned__text {
    display: block;
}

.aligned__text_center {
    text-align: center;
    line-height: 1;
}

.aligned__text_right {
    text-align: right;
    line-height: 1;
}

.letter__spacing_extended {
    letter-spacing: 60px;
    margin-left: 25px;
}

.no__letter_spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 25px;
    gap: 80px;
    text-transform: uppercase;
}

.cover__description_text {
    font-size: 22px;
    color: white;
    line-height: 30px;
    word-spacing: 18px;
}

.bet_button {
    border: 1px solid white;
    padding: 12px 32px;
    color: white;
    font-size: 22px;
    background: transparent;
    text-transform: uppercase;
    white-space: nowrap;
}

.bet_button:hover {
    color: black;
    background: white;
    cursor: pointer;
}

.bet_button:active {
    transform: scale(0.99);
    background: whitesmoke;
}
/* Cover End */

/* Lots */

.lots {
    padding: 178px 28px 90px 23px;
}

.lots__heading {
    padding: 0 40px 27px 41px;
    font-size: 40px;
}

.lots__card_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
    
}

.lots__card_list_item {
    display: block;
    height: 100%;
}

.card__link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 560px;
    padding: 50px 40px;
    color: white;
}

.card_type_film {
    background-image: url(./../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_book {
    background: url(./../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_picture {
    background: url(./../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card__title {
    position: relative;
    font-size: 22px;
    text-decoration: underline;
    text-underline-offset: 3.5px;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    line-height: 120%;
}

.card__text {
    position: relative;
    font-size: 20px;
    color: white;
    line-height: 120%;
    z-index: 1;
}

.lots__look_more_link {
    display: block;
    padding: 27px 0 0 40px;
    font-size: 20px;
    text-underline-offset: 5px;
    text-decoration: underline;
}

/* Lots End */

/* About */

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 90px 30px;
}

.about__logo {
    width: 240px;
    height: 240px;
    justify-self: center;
    border-radius: 50%;
    background-color: black;
    margin-right: 10px;
    margin-top: 2px;
}

.about__logo_image {
    width: 100%;
    padding: 63px 46px;
}

.about__column {
    grid-column: 2 / 4;
}

.about__title {
    padding: 100px 0;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 29px;
    font-size: 20px;
}

/* About End */





